.booking-form-title{
border-bottom: 2px solid #63b330;
padding-bottom: 8px;
color: #63b330;
}
/* Custom radio design */
.custom-radio .form-check-input {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgb(189, 188, 188) !important;
  transition: all 0.3s ease !important;
}

.custom-radio .form-check-input:checked {
  background-color: #27ae60 !important;
  border-color: #27ae60 !important;
}

.custom-radio .form-check-label {
  margin-left: 8px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.custom-radio .form-check-input:focus {
  box-shadow: 0 0 0 3px rgba(39, 174, 96, 0.25);
}
.img-thumbnail{
    width: 110px;
    height: 95px;
}
.PhoneInputInput{
    font-size: 12px !important;
}